{% extends 'base.html' %}
{% block title %}
{{ post.title }} - The Blog
{% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>

<small>By: {{ post.author.first_name }} {{ post.author.last_name }}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk %}" class="badge bg-secondary" style="text-decoration: none;">Edit</a> &ensp;
            <a href="{% url 'delete_post' post.pk %}" class="badge bg-danger" style="text-decoration: none;">Delete</a></small>
        {% endif %}
<br>
{% endif %}
<br>
Published On - {{ post.post_date }}
<hr>
<p>{{ post.body }}</p>
<br>
<br>
<form action="{% url 'like_post' post.pk %}" method="POST" >
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike </button> 
        {% else %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like </button> 
        {% endif %}
   {% else %}
   <small><a href="{% url 'login' %}">Login</a> to Like</small>
    {% endif %}
    - {{ total_likes }} Likes
    
</form>

<hr>
<a href="{% url 'home' %}" class="btn btn-primary btn-block">Back</a>


{% endblock %}