{% extends 'base.html' %}
{% block content %}


<h1>Posts</h1>
<ul>
    {% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}"> {{ post.title }}</a> - {{ post.author.first_name }} <a href="{% url 'update_post' post.pk %}" class="badge bg-secondary" style="text-decoration: none;">Edit</a> &ensp; <a href="{% url 'delete_post' post.pk %}" class="badge bg-danger" style="text-decoration: none;">Delete</a><br>
        <small>{{ post.post_date }}</small> <br>
        {{ post.body }}</li>

    {% endfor %}
</ul>

{% endblock %}